{% extends 'layouts/auth.html' %}

<!-- title -->
{% block title %} Login {% endblock %}

<!-- content -->
{%block container %}
<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header"></div>
      <form method="POST" action="{{ url_for('auth.login') }}">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-5">
              <div class="form-group">
                <img src="{{ url_for( 'static', filename = 'assets/img/login.png')}}" width="200px" height="250px" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group"></div>
              <div class="form-group">
                <div class="card-title"><b>Silahkan masuk!</b></div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <span class="input-icon-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  <input type="text" name="username" class="form-control" placeholder="Username" />
                </div>
              </div>
              <div class="form-group">
                <div class="input-icon">
                  <span class="input-icon-addon">
                    <i class="fa fa-key"></i>
                  </span>
                  <input type="password" name="password" class="form-control" placeholder="Password" />
                </div>
              </div>
              <div class="form-group">
                <button class="btn" style="background-color: #263298; color: white">Login</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-6">
              <div class="form-group">
                <a href="{{ url_for('views.home') }}"><u>kembali ke beranda</u></a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
